<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="static/script.js" defer></script>
    <title>Show All</title>
</head>
<body>
    <nav>
        <a href="{% url 'cusAdd' %}">Add Customer</a>
        <a href="{% url 'cusAll' %}">Show All</a>
        <a href="{% url 'cusJson' %}">Json</a>
        <a href="http://www.monkeymoon.co.uk">Developer Website</a>
    </nav>
    <section>
        <br/>
        Search: <input type="date" id="search" onchange="dosearch()"/><br/>
        <br/>
        <style> 
            table {width: 50%;}
            table, th, td { border: 1px solid black;}
        </style>
        <div id="resTable">
            <table>
                <thead>
                    <tr>
                        <th>Fname</th>
                        <th>Email</th>
                        <th>DoB</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in message_list %}
                    <tr>
                        <td>{{ message.fname }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.dob | date:'d M Y' }}</td>
                        <td>{{ message.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>